{% extends "shopify/settings/_layout" %}
{% import '_includes/forms.twig' as forms %}
{% set fullPageForm = true %}

{% do view.registerTranslations('shopify', [
    "Topic",
    "Address"
]) %}

{% block content %}
    {% set headlessMode = craft.app.config.general.headlessMode %}
    {{ actionInput('shopify/settings/save-settings') }}
    {{ redirectInput('shopify/settings') }}

    <div id="products" class="hidden">

        {{ forms.editableTableField({
            label: "Routing Settings"|t('shopify'),
            instructions: "Configure the product’s front-end routing settings."|t('shopify'),
            id: 'routing',
            name: 'settings',
            cols: {
                uriFormat: {
                    type: 'singleline',
                    heading: "Product URI Format"|t('shopify'),
                    info: "What product URIs should look like."|t('shopify'),
                    placeholder: "Leave blank if products don’t have URLs"|t('shopify'),
                    code: true
                },
                template: not headlessMode ? {
                    type: 'template',
                    heading: "Template"|t('app'),
                    info: "Which template should be loaded when a product’s URL is requested."|t('shopify'),
                    code: true
                },
            }|filter,
            rows: {
                'routing': {
                    uriFormat: {
                        value: settings.uriFormat ?? null,
                        hasErrors: settings.hasErrors('uriFormat') ?? false
                    },
                    template: not headlessMode ? {
                        value: settings.template ?? null,
                        hasErrors: settings.hasErrors('template') ?? false,
                    }
                }
            },
            allowAdd: false,
            allowDelete: false,
            allowReorder: false,
            errors: []|unique
        }) }}

        {{ forms.fieldLayoutDesignerField({
            fieldLayout: settings.getProductFieldLayout(),
        }) }}
    </div>

    <div id="api">
        {{ forms.autosuggestField({
            first: true,
            label: 'API Key'|t('shopify'),
            id: 'apiKey',
            name: 'settings[apiKey]',
            value: settings.apiKey,
            errors: settings.getErrors('apiKey'),
            suggestEnvVars: true,
            autofocus: true,
        }) }}

        {{ forms.autosuggestField({
            label: 'API Secret Key'|t('shopify'),
            id: 'apiSecretKey',
            name: 'settings[apiSecretKey]',
            value: settings.apiSecretKey,
            errors: settings.getErrors('apiSecretKey'),
            suggestEnvVars: true,
        }) }}

        {{ forms.autosuggestField({
            label: 'Access Token'|t('shopify'),
            id: 'accessToken',
            name: 'settings[accessToken]',
            value: settings.accessToken,
            errors: settings.getErrors('accessToken'),
            suggestEnvVars: true,
        }) }}

        {{ forms.autosuggestField({
            label: 'Host Name'|t('shopify'),
            id: 'hostName',
            name: 'settings[hostName]',
            value: settings.hostName,
            errors: settings.getErrors('hostName'),
            suggestEnvVars: true,
        }) }}

        <h3>{{ "Webhook Management"|t('shopify') }}</h3>
        <div class="field">
            <div id="webhooks-container">

            </div>
        </div>

        {% set tableData = [] %}
        {% for webhook in webhooks %}
            {% set tableData = tableData|merge([{
                id: webhook.id,
                title: webhook.topic,
                address: webhook.address
            }]) %}
        {% endfor %}

        {% js %}
            var columns = [
            { name: '__slot:title', title: '{{ 'Topic'|t('shopify') }}' },
            { name: 'address', title: '{{ 'URL'|t('shopify') }}' }
            ];

            new Craft.VueAdminTable({
                fullPane: false,
                columns: columns,
                container: '#webhooks-container',
                deleteAction: 'shopify/settings/delete-webhook',
                deleteConfirmationMessage: Craft.t('shopify', "Are you sure you want to delete this webhook?"),
                deleteFailMessage: Craft.t('shopify', "Webhook could not be deleted"),
                deleteSuccessMessage: Craft.t('shopify', "Webhook deleted"),
                emptyMessage: Craft.t('app', 'No webhooks exist yet.'),
                tableData: {{ tableData|json_encode|raw }}
            });
        {% endjs %}

    </div>


{% endblock %}