<h2>{{ "Shopify Sync"|t('shopify') }}</h2>
{% import "_includes/forms" as forms %}

<form method="POST">
    {{ actionInput('') }}
    {{ csrfInput() }}

    {{ forms.lightswitchField({
        label: "Use queue for syncing related objects like meta fields."|t('shopify'),
        warning: 'If disabled timeouts may occur, or API rate limits may be hit.'|t('commerce'),
        id: 'async',
        name: 'async',
        value: 1,
        on: true
    }) }}

    <a class="btn submit formsubmit" data-icon="refresh"
       data-action="shopify/products/sync"
       data-confirm="{{ 'Are you sure you want run a complete sync of all products?'|t('shopify') }}">
        {{ 'Sync all Products'|t('shopify') }}
    </a>
</form>